<ion-view view-title="Help">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-right" href="#">
                How do I get more Traffic?
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                How safe is the VPN?
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                List Item 3
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                List Item 4
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                List Item 5
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>