<ion-view view-title="MonkeyVPN Traffic">
    <ion-content class="padding">
        <div class="buySubscriptionCon">
            <div class="topHeader">Get Unlimited Traffic</div>
            <button class="button button-block button-positive">
                Buy 1 Month Subscription at 4.99$
            </button>
            <button class="button button-block button-positive">
                Buy 6 Month Subscription at 24.99$
            </button>
            <button class="button button-block button-positive">
                Buy 1 Year Subscription at 39.99$
            </button>
            <div class="smallCenterLabel">Already have a monkeyvpn.com account?</div>
        </div>
        <div class="promoCon">
            <div class="topHeader">or</div>
            <div class="topHeader">Earn 500MB free for each of the below</div>
            <button class="button button-block button-positive">
                Rate monkeyvpn App
            </button>
            <button class="button button-block button-positive">
                Invite Friend
            </button>
        </div>
    </ion-content>
</ion-view>